{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My YML</title>
    {% block style %}
      <link rel="stylesheet" href="{% static 'css/original_style.css' %}">
    {% endblock style %}
  </head>

  <body>
    <div class="content">
      <h2 class="end_title">차트</h2>
      <div class="block">
        <div style="position: relative;">
          <div class="end_section">
            <div class="section_title_wrap">
              <div class="section_title">
                <span>오늘 Top100</span>
              </div>
              <a href="/chart/today_total" class="link_more">더 보기 ></a>
            </div>
            {% comment %} <select id="select_songs" onchange="handlePerPageChange(this)">
              <option value="10">10 곡</option>
              <option value="20">20 곡</option>
              <option value="30">30 곡</option>
              <option value="40">40 곡</option>
              <option value="50">50 곡</option>
              <option value="60">60 곡</option>
              <option value="70">70 곡</option>
              <option value="80">80 곡</option>
              <option value="90">90 곡</option>
              <option value="100">100 곡(전체)</option>
            </select> {% endcomment %}
            <button class="add-button" id="add_top100">Add+ My YML</button>
            <div class="chart_container">
              <div class="chart_row">

                <!-- 1~5위 차트 데이터 -->
                <!-- 1위 곡 정보 -->
                {% for song in chart_list1 %}
                  <div class="chart_item">
                    <img src="{{ song.album_image }}" alt="{{ song.title }}" class="song_cover">
                    <span class="song_rank">{{ song.rank }}</span>
                    <div class="song_info">
                      <span class="song_title">{{ song.title }}</span>
                      <span class="song_artist">{{ song.artist }}</span>
                    </div>
                  </div>
                {% endfor %}
                <!-- -->
                <!-- -->
              </div>

              <div class="chart_center"></div>

              <div class="chart_row">
                <!-- 6~10위 차트 데이터 -->
                {% for song in chart_list2 %}
                  <div class="chart_item">
                    <img src="{{ song.album_image }}" alt="{{ song.title }}" class="song_cover">
                    <span class="song_rank">{{ song.rank }}</span>
                    <div class="song_info">
                      <span class="song_title">{{ song.title }}</span>
                      <span class="song_artist">{{ song.artist }}</span>
                    </div>
                  </div>
                {% endfor %}

                <!-- -->
                <!-- -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="blank"></div>

      <div class="block">
        <div style="position: relative;">
          <div class="end_section">
            <div class="section_title_wrap">
              <div class="section_title">
                <span>Billboard Chart Top100</span>
              </div>
              <a href="/chart/billboard_total" class="link_more">더 보기 ></a>
            </div>
            {% comment %} <select id="select_songs" onchange="handlePerPageChange(this)">
              <option value="10">10 곡</option>
              <option value="20">20 곡</option>
              <option value="30">30 곡</option>
              <option value="40">40 곡</option>
              <option value="50">50 곡</option>
              <option value="60">60 곡</option>
              <option value="70">70 곡</option>
              <option value="80">80 곡</option>
              <option value="90">90 곡</option>
              <option value="100">100 곡(전체)</option>
            </select> {% endcomment %}
            <button class="add-button">Add+ My YML</button>
            <div class="chart_container">
              <div class="chart_row">

                <!-- 1~5위 차트 데이터 -->
                <!-- 1위 곡 정보 -->
                {% for song2 in billboard_chart_list1 %}
                  <div class="chart_item">
                    <img src="{{ song2.album_image }}" alt="{{ song2.title }}" class="song_cover">
                    <span class="song_rank">{{ song2.rank }}</span>
                    <div class="song_info">
                      <span class="song_title">{{ song2.title }}</span>
                      <span class="song_artist">{{ song2.artist }}</span>
                    </div>
                  </div>
                {% endfor %}
                <!-- -->
                <!-- -->
              </div>

              <div class="chart_center"></div>

              <div class="chart_row">
                <!-- 6~10위 차트 데이터 -->
                {% for song2 in billboard_chart_list2 %}
                  <div class="chart_item">
                    <img src="{{ song2.album_image }}" alt="{{ song2.title }}" class="song_cover">
                    <span class="song_rank">{{ song2.rank }}</span>
                    <div class="song_info">
                      <span class="song_title">{{ song2.title }}</span>
                      <span class="song_artist">{{ song2.artist }}</span>
                    </div>
                  </div>
                {% endfor %}

                <!-- -->
                <!-- -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="blank"></div>

      <div class="block">
        <div style="position: relative;">
          <div class="end_section">
            <div class="section_title_wrap">
              <div class="section_title">
                <span>J-POP Top100</span>
              </div>
              <a href="/chart/jpop_total" class="link_more">더 보기 ></a>
            </div>
            {% comment %} <select id="select_songs" onchange="handlePerPageChange(this)">
              <option value="10">10 곡</option>
              <option value="20">20 곡</option>
              <option value="30">30 곡</option>
              <option value="40">40 곡</option>
              <option value="50">50 곡</option>
              <option value="60">60 곡</option>
              <option value="70">70 곡</option>
              <option value="80">80 곡</option>
              <option value="90">90 곡</option>
              <option value="100">100 곡(전체)</option>
            </select> {% endcomment %}
            <button class="add-button">Add+ My YML</button>
            <div class="chart_container">
              <div class="chart_row">

                <!-- 1~5위 차트 데이터 -->
                <!-- 1위 곡 정보 -->
                {% for song3 in jpop_chart_list1 %}
                  <div class="chart_item">
                    <img src="{{ song3.album_image }}" alt="{{ song3.title }}" class="song_cover">
                    <span class="song_rank">{{ song3.rank }}</span>
                    <div class="song_info">
                      <span class="song_title">{{ song3.title }}</span>
                      <span class="song_artist">{{ song3.artist }}</span>
                    </div>
                  </div>
                {% endfor %}
                <!-- -->
                <!-- -->
              </div>

              <div class="chart_center"></div>

              <div class="chart_row">
                <!-- 6~10위 차트 데이터 -->
                {% for song3 in jpop_chart_list2 %}
                  <div class="chart_item">
                    <img src="{{ song3.album_image }}" alt="{{ song3.title }}" class="song_cover">
                    <span class="song_rank">{{ song3.rank }}</span>
                    <div class="song_info">
                      <span class="song_title">{{ song3.title }}</span>
                      <span class="song_artist">{{ song3.artist }}</span>
                    </div>
                  </div>
                {% endfor %}

                <!-- -->
                <!-- -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
