{% extends 'base.html' %}
{% block title %}
  <title>ToDo 상세</title>
{% endblock title %}
{% block contents %}
  <div class="row mb-3">
    <h1>ToDo 상세조회</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{todo.title}}</h5>
          <p class="card-text">{{todo.description}}</p>
          <a href="{% url 'todo_list' %}" class="btn btn-primary">목록</a>
        </div>
      </div>
    </div>
  </div>
{% endblock contents %}