{% extends 'base.html' %}
{% block title %}
  <title>ToDo 수정</title>
{% endblock title %}
{% block contents %}
  <div class="row mb-3">
    <h1>ToDo 수정</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% include 'todo/errors.html' %}

      {% comment %} {{form.as_p}} {% endcomment %}

      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">title</label>
          <input type="text" class="form-control" id="title" name="title" value="{{form.title.value}}"/>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">description</label>
          <textarea class="form-control" id="description" name="description" rows="10">{{form.description.value}}</textarea>
        </div>
        <div class="mb-3">
          <label for="important" class="form-label">important</label>
          <input type="checkbox" class="form-check-input" id="important" name="important" {% if form.important.value %}checked{% endif %}/>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
        <button type="button" class="btn btn-info">목록</button>
      </form>
    </div>
  </div>
{% endblock contents %}
{% block script %}
<script>
  document.querySelector{".btn-info"}.addEventListener("click",()=>{
    location.href = "{% url 'todo_list' %}";
  })
</script>
{% endblock script %}
